@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.510) 0%,rgba(10, 10, 10, 0.510) 100%), url("./img/header1.jpg")!important; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48vw;
}

/* HEADER START */

.title-nav {
    font-weight: 800;
    color: #7FFF00;
    text-decoration: none;
    margin: 1em;
}

.menu-nav a {
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    margin: 25px;
    transition: 0.3s;
}

.menu-nav a:hover {
    color: #7FFF00;
}

.container-nav {
    margin-top: 10em;
    color: #ffff;
}

.apresentacao h3 {
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: 0 9em;
}

.apresentacao h1 {
    font-weight: 800;
    font-size: 69px;
}

.apresentacao p {
    font-weight: 700;
    font-size: 20px;
    margin: 0 6em;
}


/* HEADER END */

/* SECTION 1 START */

.container-section1 {
    margin-top: 3em;
}

.container-section1 img {
    width: 19em;
    height: 37em;
}

.container-section1 h2 {
    font-weight: 900;
}

.container-section1 h3 {
    font-family: 'Caveat', cursive;
    color: #7FFF00;
}

.container-section1 h4 {
    font-weight: 700;
}

/* SECTION 1 END */

/* SECTION 2 START */

.destinos {
    margin-top: 4em;
}

.destinos h1 {
    font-weight: 800;
}

.destinos h3 {
    font-family: 'Caveat', cursive;
    color: #7FFF00;
}

.galeria img {
    width: 95%;
    height: 85%;
    box-shadow: 10px 10px #7FFF00;
}

.galeria h4 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
}

/* SECTION 2 END */

/* SECTION 3 START */

.background-section3 {
    background-image: linear-gradient(120deg, rgba(10, 10, 10, 0.510) 0%,rgba(10, 10, 10, 0.510) 100%), url("./img/section3.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 15vw;
}

.container-section3 {
    margin-top: 10em;
}

.section3-box{
    background: white;
    margin: 2em 6em;
    padding: 25px;
}

.section3-box h4 {
    color: #7FFF00;
    font-size: 40px;
    font-weight: 900;
    margin-top: 9px;
}

.section3-box p {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}



/* SECTION 3 END */



@media (max-width: 1450px) {

    .container-nav {
        margin-top: 6em;
    }

    .apresentacao h3{
        font-size: 55px;
    }

    .apresentacao h1 {
        font-size: 50px;
    }

    .apresentacao p{
        font-size: 15px;
    }

    .background-section3 {
        height: 25vw;
    }
}

@media (max-width: 1030px) {

    .container-nav {
        margin-top: 5em;
    }

    .apresentacao h3{
        font-size: 40px;
    }

    .apresentacao h1 {
        font-size: 30px;
    }

    .apresentacao p{
        font-size: 13px;
    }

    .section3-box {
        margin: 4em 3em;
    }

    .background-section3 {
        height: 35vw;
    }

}

@media (max-width: 770px) and (min-width: 431px) {

    .container-nav {
        margin-top: 1em;
    }

    .menu-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.658);
        border-radius: 10px;
    }

    .apresentacao h3{
        font-size: 30px;
    }

    .apresentacao h1 {
        font-size: 30px;
    }

    .apresentacao p{
        font-size: 12px;
    }

    .container-section1 {
        display: grid;
        grid-template-areas:
        'section1 section1-2'
        'content-section1';
    }

    .section1{
        grid-area: section1;
    }

    .section1-2 {
        grid-area: section1-2;
    }

    .content-section1 {
        grid-area: content-section1;
        margin: 2em -11em;
    }

    .section3-box {
        margin: 4em 1em;
    }

    .background-section3 {
        height: 45vw;
    }

}

@media (max-width: 430px) {

    .container-nav {
        margin-top: 0em;
    }

    .menu-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.658);
        border-radius: 10px;
    }

    .apresentacao h3{
        display: none;
    }

    .apresentacao h1 {
        display: none;
    }

    .apresentacao p{
        display: none;
    }

    .container-section1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .section1{
        display: none;
    }

    .container-section3 {
        margin-top: 3em;
    }

    .section3-box {
        margin: 4em 3em;
    }

    .background-section3 {
        height: 235vw;
    }

}

@media (max-width: 380px) {
    .background-section3 {
        height: 265vw;
    }
}

@media (max-width: 330px) {
    .background-section3 {
        height: 350vw;
    }
}

@media (max-width: 265px) {
    .background-section3 {
        height: 440vw;
    }
}